.project {
  width: 600px;
  margin: 32px auto;
}

.project-header {
  display: flex;
  background: #4b86b4;
  color: #fff;
  height: 40px;
  padding: 15px 25px;
  align-items: center;
  font-size: 18px;
}

.project-header:hover {
  cursor: pointer;
}

.project-header:hover .actions {
  display: flex;
}

.calendar-icon {
  margin-right: 15px;
}

.project-name {
  flex-basis: 65%;
  text-align: left;
  margin: 0;
  font-size: 18px;
}

.actions {
  flex-basis: 20%;
  display: none;
  justify-content: space-between;
}

.action {
  cursor: pointer;
  line-height: 40px;
  flex-basis: 50%;
}

.action:hover {
  background: #008cff;
}

.edit-input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: inherit;
  font-weight: bold;
}
